/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.animeslider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.wrapper{
  display: flex;
  width: 800px;
  height: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 35px;
  justify-content: center;
  border: white solid;
 
}


.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #000000;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 380px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 1);
  }

  .animeslider{
    flex-direction: column;
  }
  .card1{
    margin: 40px;
    
  }

  .wrapper{
    width: 410px;
    height: 450px;
    padding: 60px;
  }

  

  

}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

/* Bro vijith cards css is here */
.card1{
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .card1:before, .card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .card1:after {
    filter: blur(100px);
  }
  
  .button-link {
    display: inline-block;
    width: 130px;
    text-align: center;
    padding: 10px 10px;
    background-color: #f2f2f2;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-link:hover {
  background-color: #ddd;
  transform: scale(1.1);
}


.carousel a{
  padding: 5px;
}


  